{% extends 'base.html.twig' %}

{% block title %}RendezVous index{% endblock %}

{% block body %}


    <style>


        .containerRendezVous {
            text-align: center;
            background-color: lightslategray;
            width: 40%;
            margin-top: 3%;
            padding: 2% 2% 2% 2%;
            box-shadow: 5px 5px 3px 0 #5dacd7;

        }

        .containerTotal {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;


        }


        .message {
            margin-top: 2%;


        }

        .detailText {
            text-decoration: none;
            color: wheat;
            cursor: pointer;
        }

        .detailMessage {
            margin-top: 3%;

            font-weight: bold;


        }
    </style>

    <h1 class="titleAccueil">Demande de Rendez-vous</h1>



    <body>
    {% for message in app.flashes('success') %}
        <div style="color:black;width:200px;">{{ message }}</div>
    {% endfor %}
    {% for rendez_vous in rendez_vouses %}
        <div class="containerTotal">
            {% if is_granted('ROLE_USER') %}
                <div class="containerRendezVous">
                    <div class="message"><strong>Message de :</strong> {{ rendez_vous.user }}</div>
                    <div class="message"><strong>{{ rendez_vous.date }}</strong></div>




                    <div class="detailMessage"><a class="detailText"
                                                  href="{{ path('rendez_vous_show', {'id': rendez_vous.id}) }}">Voir le
                            message complet</a></div>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="containerRendezVous">
                    <div class="message"><strong>Message de :</strong> {{ rendez_vous.user }}</div>
                    <div class="message"><strong>{{ rendez_vous.date }}</strong></div>



                    <div class="detailMessage"><a class="detailText"
                                                  href="{{ path('rendez_vous_show', {'id': rendez_vous.id}) }}">Voir le
                            message complet</a></div>
                </div>
            {% endif %}
        </div>
        <!--<a href="{{ path('rendez_vous_edit', {'id': rendez_vous.id}) }}">edit</a>-->


    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </body>
    <script>


    </script>


    <div class="stockCreation"><a class="Crée" href="{{ path('rendez_vous_new') }}">Faire une demande de
            Rendez-vous</a></div>
    <h2>Mes reponse au Rendez-vous</h2>
    {% for AdminReponse in AdminReponses %}

        <div class="containerRendezVous">
            <div>{{ AdminReponse.userId }}</div>

            <div>{{ AdminReponse.heur }}</div>
            <div class="detailMessage"><a class="detailText"
                                          href="{{ path('reponse_rendez_vous', {'id': AdminReponse.id}) }}">Voir le
                    message complet</a></div>
        </div>
        </div>

    {% endfor %}

{% endblock %}
