
{% extends 'base.html.twig' %}

{% block title %}Vente index{% endblock %}

{% block body %}
    <style>
        .imageVente{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 5%;
        }

        .englobImg{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .textVente{
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: justify;
            width: 40%
        }
        .englobcritere{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 2%;
            text-align: center;
        }
        .prix{
            text-align: right;
            width: 84%;
            margin-top: 2%;

        }
        .en{
            font-family: "Arial Black";
        }
        .englobButVente{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 2%;
        }
        .butVente{
            text-decoration: none;

        }
        .englobCreate{
            display:flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 2%;
        }
        .parralax1 {
            background: url("https://www.google.fr/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjLgOf7p-bhAhXN6OAKHb18CPsQjRx6BAgBEAU&url=https%3A%2F%2Fwww.sortiesdeplage.fr%2Fparallax-background-dark-03%2F&psig=AOvVaw3Bb33tLxD5zquR56uQXT54&ust=1556112205429721")
            center 0 no-repeat fixed;
            position:fixed;


            width:100%;
            height:1000px;

            padding-top:100px;
            z-index:-1;



        }
        body{
            margin-top: 100px;
        }

        .parralax2 {
            background: url("http://jolofsystem.com/wp-content/uploads/2015/01/Parallax-Background-Dark-02.jpg")
            center 0 no-repeat fixed;
            padding-top: 100px;


            width:100%;
            height:1000px;
            z-index:-1;

        }

        .parralax3 {
            background: url("http://jolofsystem.com/wp-content/uploads/2015/01/Parallax-Background-Dark-04.jpg")
            center 0 no-repeat fixed;

            z-index:-1;
            width:100%;
            height:1000px;


        }
        .containerTextVente{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    </style>






    <table class="table">
        <thead>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="script/jquery.parallax-1.1.js"></script>
        </thead>
        <body>


        <h1 class="titleAccueil">Vente de Voiture</h1>
        {% for vente in ventes %}



                <div class="imageVente">
                    <img style="max-width: 905px; max-height: 500px;" src="/image/{{ vente.image }}" alt="">

                </div>
        <div class="englobImg">  <div class="titleVente">{{ vente.titre }}</div></div>
            <div class="en">
          <div style="text-align: center; margin-top: 3%;">  <strong>Description technique: </strong></div>
            <div class="englobcritere">
                <div class="textvente"><strong>Modèle :    </strong>{{ vente.modele }}</div>
                <div class="textvente"><strong>Marque :   </strong>{{ vente.marque }}</div>
                <div class="textvente"><strong>Année :   </strong>{{ vente.annee }}</div>
                <div class="textvente"><strong>Kilometrage :    </strong>{{ vente.kilometrage }}</div>
                <div class="textvente"><strong>Carburant :    </strong>{{ vente.carburant }}</div>
                <div class="textvente"><strong>Boite de vitesse :    </strong>{{ vente.boiteDeVitesse }}</div>
<div class="containerTextVente">
                <div style="width: 60%;
text-align: justify;" class="">{{ vente.content }}</div>
</div>
            </div>
                <div>

                <div class="prix"><strong>Prix: </strong>{{ vente.prix }} €</div>
                <div class="englobButVente">
                    <a class="butVente" href="{{ path('vente_show', {'id': vente.id}) }}">show</a>
                    <a class="butVente" href="{{ path('vente_edit', {'id': vente.id}) }}">edit</a>
                </div>

        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>

        {% endfor %}
                    <div class="navigation">
                        {{ knp_pagination_render(ventes) }}
                    </div>

        </body>
    </table>

   <div class="englobCreate" ><a class="Crée" href="{{ path('vente_new') }}">Create new</a></div>
{% endblock %}
