
{% extends 'base.html.twig' %}

{% block title %}Vente index{% endblock %}

{% block body %}
    <style>

        .butVoirPlus{
            display: flex;
            flex-direction: row;
            justify-content: right;
            width: 81%;
        }
        .imageVente{
            margin-top: 0;
            max-height: 58vh;
            width: 70%;
        }
        .navigation{
            display: flex;

            flex-direction: row;

            justify-content: center;

            font-size: xx-large;
        }

    </style>






    <table class="table">
        <thead>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="script/jquery.parallax-1.1.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        </thead>
        <body>
        <style>


        </style>
<div style="height:15vh;"></div>
        <h1 class="title">Vente de Voiture</h1>
        {% for vente in ventes %}


<div class="containerCarousel">

            <!-- Indicators -->



                    <img class="imageVente" src="/image/{{ vente.image }}" alt="Voiture"
                         >



            </div>


        <div class="englobImg">  <div class="titleVente">{{ vente.titre }}</div></div>
            <div class="en">
          <div style="text-align: center; margin-top: 1%;">  <strong> </strong></div>
            <div class="englobcritere">
                <div class="textvente"><strong>Modèle :    {{ vente.modele }}</strong></div>
                <div class="textvente"><strong>Marque :   {{ vente.marque }}</strong></div>


            </div>
                <div>

                <div class="prix"><strong>Prix: </strong>{{ vente.prix }} €</div>



                  <div class="butVoirPlus"> <a style="margin-bottom: 4%; margin-top: 2%;" class="btn btn-primary" href="{{ path('vente_show', {'id': vente.id}) }}">Voir plus</a></div>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="butVente" href="{{ path('vente_edit', {'id': vente.id}) }}">edit</a>

                    {% endif %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>

        {% endfor %}
                    <div class="navigation">
                        {{ knp_pagination_render(ventes) }}
                    </div>

        </body>
    </table>
    {% if is_granted('ROLE_ADMIN') %}


   <div class="englobCreate" ><a class="Crée" href="{{ path('vente_new') }}">Create new</a></div>
    {% endif %}
{% endblock %}
