{% block body %}
<div class="containerDevis container">
    <div class="styleMessage">
        <div>{{ contact.date }}</div>
        <div class="category"><strong>Expediteur:</strong>{{ contact.email }}</div>
        <div class="category"><strong>Nom:</strong>{{ contact.nom }}</div>
        <div class="category"><strong>Sujet du message</strong>{{ contact.sujet }}</div>
        <div class="category"><strong>Message</strong>{{ contact.message }}</div>




    </div>







</div>
{% endblock %}